<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IUserManager">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ILobbyManager">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IOnlineUserManager">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IGameManager">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IEndGame">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ILeaderboardManager">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://192.168.100.38:8081/MessageService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserManager" contract="AstralisServer.IUserManager" name="NetTcpBinding_IUserManager" />
      <endpoint address="net.tcp://192.168.100.38:8081/MessageService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobbyManager" contract="AstralisServer.ILobbyManager" name="NetTcpBinding_ILobbyManager" />
      <endpoint address="net.tcp://192.168.100.38:8081/MessageService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOnlineUserManager" contract="AstralisServer.IOnlineUserManager" name="NetTcpBinding_IOnlineUserManager" />
      <endpoint address="net.tcp://192.168.100.38:8081/MessageService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameManager" contract="AstralisServer.IGameManager" name="NetTcpBinding_IGameManager" />
      <endpoint address="net.tcp://192.168.100.38:8081/MessageService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEndGame" contract="AstralisServer.IEndGame" name="NetTcpBinding_IEndGame" />
      <endpoint address="net.tcp://192.168.100.38:8081/MessageService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILeaderboardManager" contract="AstralisServer.ILeaderboardManager" name="NetTcpBinding_ILeaderboardManager" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<connectionStrings>
		<add name="AstralisDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CGUI3D0\SQLEXPRESS01;initial catalog=AstralisDB;persist security info=True;user id=Astralis;password=AstralisMK;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>