<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>qp4lIZzNjGYYRKDqb/HiEERsjlyA1R4Fbq+yDcn3Vujs2KTXYD/Bwe52JrsZAoZW1TZVm7lazw1IHzqQL4bPjY/JPvp2aFIyFWFlHcbuobmyXLQ0J6DeBwMydkeiuJwlVxvRWFlwhyKMIDScNMd5zes9He/dZBNAzdrqfwJBjK43Ab4+2jHXndKlC2uhrN3dBFf3BSntG1AviKG/9Y2sTPnNHixUQyjzNzlGBG7mhRLVCMOAJG1Bu8NL5PkqSwBjJ2kkB3ZtVlEw7+iSDNw8JKMwqW6Xy63TWrvSyvBFhWS4IuQOPsTdlDpwbhmh/1y5ASxEd/L2Jj/U28SJFMh1EA==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>/5wq4WrcLzXMpstbdKxAR2I+YaS2U5dU7GbI+Hp7E82TbeH6JznnaxH9ujxCpdwC</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>