<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUserManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILobbyManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IOnlineUserManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://192.168.100.38:8081/MessageService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserManager"
                contract="UserManager.IUserManager" name="NetTcpBinding_IUserManager" />
            <endpoint address="net.tcp://192.168.100.38:8081/MessageService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobbyManager"
                contract="UserManager.ILobbyManager" name="NetTcpBinding_ILobbyManager" />
            <endpoint address="net.tcp://192.168.100.38:8081/MessageService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOnlineUserManager"
                contract="UserManager.IOnlineUserManager" name="NetTcpBinding_IOnlineUserManager" />
            <endpoint address="net.tcp://192.168.100.38:8081/MessageService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameManager"
                contract="UserManager.IGameManager" name="NetTcpBinding_IGameManager" />
        </client>
    </system.serviceModel>
</configuration>